<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ສັນຍາເຊົ່າ</title>
</head>
<body>
    <div>
        <CENTER><b>ສາທາລະນະລັດ ປະຊາທິປະໄຕ ປະຊາຊົນລາວ</b></CENTER>
        <CENTER><b>ສັນຕິພາບ ເອກະລາດ ປະຊາທິປະໄຕ ເອກະພາບ ວັດທະນາຖາວອນ</b></CENTER>
        <CENTER><h1>ສັນຍາເຊົ່າ</h1></CENTER>
        <p> ເອກະສານການເຂົ້າພັກເຊົ່ານີ້ ຕໍ່ໄປຈະຖືກເອີ້ນວ່າ “ຂໍ້ຕົກລົງ” ເຊິ່ງເຮັດຂຶ້ນຢູ່ທີ່...... ເມື່ອວັນທີ.......ລະຫວ່າງ</p>
    </div>
</body>
</html>